.todo {
    margin-top: 15px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.todo input {
    margin: 0 15px
}

.active {
    text-decoration: line-through;
}

.modal {
    margin-top: 15px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.modal input {
    margin: 0 15px
}